---
export const prerender = false
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/header/Header.astro';
import Footer from '@components/Footer.astro';
import FormattedDate from '@components/FormattedDate.astro';
import {PortableText} from '@components/portabletext';
import { urlForImage } from 'src/sanityLib/utils';
import { Image } from 'astro:assets';


const { title, description, keywords, publishedAt, _updatedAt, image, body } = Astro.props;

console.log(image)
const imageUrl = urlForImage(image).toString();



---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} og_type="article", keywords={keywords}/>
		<style>

		</style>
	</head>

	<body>
		
		<Header />
		<main class="w-screen">
			<div class="p-6 mx-auto">
				<article class="max-w-2xl mx-auto ">
					
					<div >
							<h1 class="text-lg">{title}</h1>

							<div class="hero-image rounded-2xl overflow-clip">
								<img src={imageUrl}, alt="" ></img>
							</div>

							<div class="date">
								<div>Published: <FormattedDate date={publishedAt} /></div>
						
								<div class="last-updated-on">Updated: <FormattedDate date={_updatedAt} /></div>
		
							</div>
							<div class="prose lg:prose-lg sm:prose-sm xs:prose-xs"> <PortableText value={Astro.props.body}></PortableText></div>
							
					</div>
				</article>
			</div>
		</main>
		<Footer />
	</body>
</html>
