---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/header/Header.astro';
import Footer from '@components/Footer.astro';
import FormattedDate from '@components/FormattedDate.astro';
import type { SanityImageSource } from '@sanity/image-url/lib/types/types';
import PortableText from '@components/postblocks/PortableText.astro';

interface Props {
	title: string;
	description: string;
	keywords: string;
	publishedAt: string;
	_updatedAt: string;
	heroImage: SanityImageSource;
	body: Object[];
}


const { title, description, keywords, publishedAt, _updatedAt, heroImage, body } = Astro.props;

---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} og_type="article", keywords={keywords}/>
		<style>

		</style>
	</head>

	<body>
		<Header />
		<main class="w-screen">
			<div class="mx-auto p-6">
				<article class="mx-auto max-w-2xl prose lg:prose-lg sm:prose-sm xs:prose-xs">
					<div class="hero-image">


					</div>
					<div >
						<div class="title">
							<div class="date">
								<FormattedDate date={publishedAt} />
								{
									_updatedAt && (
										<div class="last-updated-on">
											Last updated on <FormattedDate date={_updatedAt} />
										</div>
									)
								}
							</div>
							<PortableText portableText={body}></PortableText>
							<hr />
						</div>
						<slot />
					</div>
				</article>
			</div>
		</main>
		<Footer />
	</body>
</html>
