---
export const prerender = false
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/header/Header.astro';
import Footer from '@components/Footer.astro';
import FormattedDate from '@components/FormattedDate.astro';
import {PortableText} from '@components/portabletext';
import { urlForImage } from 'src/sanityLib/utils';


const { title, description, keywords, publishedAt, _updatedAt, image, body } = Astro.props;

console.log(image)
const imageurl = urlForImage(image);



---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} og_type="article", keywords={keywords}/>
		<style>

		</style>
	</head>

	<body>
		
		<Header />
		<main class="w-screen">
			<div class="p-6 mx-auto">
				<article class="max-w-2xl mx-auto prose lg:prose-lg sm:prose-sm xs:prose-xs">
					<div class="hero-image">


					</div>
					<div >
						<div class="title">
							<h1 class="text-lg">{title}</h1>
							<div class="date">
								<FormattedDate date={publishedAt} />
								{
									_updatedAt && (
										<div class="last-updated-on">
											Last updated on <FormattedDate date={_updatedAt} />
										</div>
									)
								}
							</div>
							<PortableText value={Astro.props.body}></PortableText>
							<hr />
						</div>
						<slot />
					</div>
				</article>
			</div>
		</main>
		<Footer />
	</body>
</html>
